doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='javascripts/main.js', src='javascripts/require-jquery.js')
  body
    block content