body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board {
    display: inline-block;
}

.row{
    clear:both;
}

.block {
    float: left;
    clear:none;
    width: 32px;
    height:32px;
    background-color: #C0C0C0;
}

#player1{
    top: 0px;
    left: 0px;
    width: 20px;
    height: 30px;
    position: absolute;
    background:url(/images/bomberman-sprites.png) -50px -35px;
}
#player2{
    top: 0px;
    left: 0px;
    width: 20px;
    height: 30px;
    position: absolute;
    background:url(/images/bomberman-sprites.png) -50px -35px;
}
#player3{
    top: 0px;
    left: 0px;
    width: 20px;
    height: 30px;
    position: absolute;
    background:url(/images/bomberman-sprites.png) -50px -35px;
}
#player4{
    top: 0px;
    left: 0px;
    width: 20px;
    height: 30px;
    position: absolute;
    background:url(/images/bomberman-sprites.png) -50px -35px;
}